[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/lguenth/hugo-PaperModX
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/lguenth/hugo-PaperMod
